@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #34D399;
    --offwhite-color: #F3F4F6;
}

#component-lib {
    font-family: 'Nunito Sans', sans-serif;
}

.line-seperator {
    margin: 2rem 0rem;
}

/* for containers */

.container-center {
    max-width: 700px;
    margin: auto;
}
.container {
    text-align: center;
}

/* for links */

.links {
    text-decoration: none; 
}

.link-primary {
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* for lists */

.list-unordered {
    list-style: none;
}

.list-inline {
    display: inline;
    padding-right: 1rem;
}

/* for navigation */

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.links-nav {
    text-align: right;
}

.links-nav a {
    color: white;
}

.nav {
    font-size: larger;
    font-weight: bold;
    padding-bottom: 1rem;
}

.active {
    font-weight: bold;
}

/* for header */

.img-js {
    max-width: 500px;
    display: block;
    margin: auto;
}

.heading-header {
    font-weight: bold;
    text-align: center;
}

/* for sections */

.section {
    padding: 1rem 0rem;
    max-width: 700px;
    margin: auto;
}

.section-ow {
    background-color: var(--offwhite-color);
}

/* for footer */

.footer {
    text-align: center;
    background-color: var(--primary-color);
    padding: 1rem 0rem;
    border-top-right-radius: 1rem;
}

.footer a {
    color: white;
}