:root {
    --primary-color: #34D399;
    --offwhite-color: #F3F4F6;
}

/* for containers */

.container .container-centre {
    text-align: center;
}

/* for links */

.link-primary {
    text-decoration: none;
    color: white;
    background-color: var(--primary-color);
}