@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');

:root {
    --primary-color: #34D399;
    --offwhite-color: #F3F4F6;
}

#component-lib {
    font-family: 'Nunito Sans', sans-serif;
}

.line-seperator {
    margin: 2rem 0rem;
}

/* for containers */

.container .container-centre {
    text-align: center;
}

/* for links */

.links {
    text-decoration: none; 
}

.link-primary {
    color: white;
    background-color: var(--primary-color);
    padding: 0.5rem;
    border-radius: 0.5rem;
}

.link-secondary {
    color: var(--primary-color);
    padding: 0.5rem;
    border: 1px solid var(--primary-color);
    border-radius: 0.5rem;
}

/* for lists */

.list-unordered {
    list-style: none;
}

.list-inline {
    display: inline;
    padding-right: 1rem;
}

/* for navigation */

.navigation {
    background-color: var(--primary-color);
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation a {
    color: white;
    text-align: right;
    /* padding: 0rem 1rem; */
}

.navigation h1 {
    font-size: larger;
    font-weight: bold;
}
/* I don't know why text-align property is not working--> check it, try again */

/* for header */

.img-js {
    max-width: 500px;
    display: block;
    margin: auto;
}

.heading-header {
    font-weight: bold;
    text-align: center;
}